* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    list-style: none;
}

html,
body {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

/* header-top */
.header {
    background: #ffd480 no-repeat;
    padding-bottom: 10px;
    height: 20%;
}

.header-area .container {
    position: relative;
}

.header .logo a {
    text-decoration: none;
    color: #0e3150;
    font-size: 2rem;
}

.header .logo img {
    width: 80%;
    height: 80%;
}

.header .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header .navbar-toggler {
    background-color: #ec610a;
    opacity: 0.7;
    display: none;
}

.header .nav-bar .nav-top ul {
    display: flex;
    justify-content: flex-end;
}

.header .nav-bar .nav-top a {
    text-decoration: none;
    transition: all 0.7s ease-out;
    color: #2b2e4a;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px 20px;
}

.header .nav-bar .nav-top a:hover {
    color: #1e2022;
    font-size: 1.5rem;
    border-bottom: 1px #1e2022 solid;
}

@media (max-width: 992px) {
    .header .nav-bar .nav-top ul li {
        margin-left: 0 !important;
        text-align: center;
        margin: 5px 0;
    }

    .header .nav-bar .nav-top ul {
        display: flex;
        flex-direction: column;
    }

    .header .nav-bar a {
        font-size: 1.8rem;
        padding: 0 10px;
    }

    .header .logo img {
        width: 40%;
        height: 40%;
    }

    .header .navbar-toggler {
        display: block;
        float: right;
    }
}

@media (max-width: 768px) {
    .header .logo img {
        width: 30%;
        height: 30%;
    }

    .header .nav-bar a {
        font-size: 1rem;
        padding: 0 10px;
    }
}

@media (max-width: 575px) {
    .header .navbar-toggler {
        padding: 0.1rem 0.1rem;
    }

    .header .logo {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}

/* header-bottom */
.header-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-bottom .title {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.header-bottom .title p {
    font-size: 2rem;
    font-weight: 500;
    color: #2b2e4a;
    margin: 0;
}

.header-bottom .title i {
    font-size: 2rem;
    color: #2b2e4a;
}


.search-button,
.nav-item {
    margin: 5px;
}

@media (max-width:992px) {
    .header-bottom .title p {
        font-size: 1.5rem;
    }

    .header-bottom .title i {
        font-size: 1.5rem;
    }
}

@media (max-width:768px) {
    .header .logo img {
        width: 30%;
        height: 30%;
    }

    .header .nav-bar a {
        font-size: 1.2rem;
        padding: 0 10px;
    }

    .header-bottom .title {
        width: 40%;
    }

}

@media (max-width:576px) {
    .header-bottom .title p {
        display: none;
    }

    .header .nav-bar a {
        font-size: 1.1rem;
        padding: 0 10px;
    }

    .header-bottom .title i {
        font-size: 2rem;
    }

}

/* content */
.content-area {
    background: #ffffc2;
}

.content-area .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content-area .about-us-area {
    width: 100%;
    background: #2b2e4a;
    padding: 3rem 1rem;
}

.content-area .about-us-area .title {
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
}

.content-area .about-us-area .title p {
    color: white;
    font-size: 2.5rem;
}

.content-area .about-us-detail-area {
    position: relative;
    display: flex;
    justify-content: center;
    background: white;
    margin-top: -5rem;
    width: 80%;
    border: 1px solid white;
    border-radius: 0.75rem;
    padding: 1rem 1rem 5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

.content-area .about-us-detail-area .about-us-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 85%;
}

.content-area .about-us-detail-area .about-us-detail p {
    font-size: 1.8rem;
    padding: 2rem 0;
}

.content-area .about-us-detail-area .about-us-detail span {
    font-size: 1rem;
    line-height: 1.5rem;
}

.content-area .about-us-detail-area .about-us-img1 {
    position: absolute;
    width: 12rem;
    height: 10rem;
    transform: rotate(5deg);
    border: 1rem solid white;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    top: 20%;
    left: -18%;
}

.content-area .about-us-detail-area .about-us-img1 img {
    width: 100%;
    height: 100%;
}

.content-area .about-us-detail-area .about-us-img2 {
    position: absolute;
    width: 12rem;
    height: 10rem;
    transform: rotate(-5deg);
    border: 1rem solid white;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    top: 40%;
    right: -15%;
}

.content-area .about-us-detail-area .about-us-img2 img {
    width: 100%;
    height: 100%;
}

.content-area .about-ourteam-area {
    width: 100%;
    padding: 5rem 1rem;
}


.content-area .about-ourteam-area .title {
    display: flex;
    justify-content: center;
}

.content-area .about-ourteam-area .title p {
    color: black;
    font-size: 2.5rem;
}

.about-us-team {
    padding-bottom: 8rem;
    display: flex;
    justify-content: center;
}

.about-us-team .about-us-team-img figure {
    height: 80%;
}

.about-us-team .about-us-team-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-us-team .about-us-team-img img {
    width: 90%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.0);
    border-radius: 0.75rem;
}

.about-us-team .about-us-team-img figcaption a {
    font-size: 1.1rem;
    color: #3f72af;
    text-decoration: none;
    transition: all 0.7s ease;
}

.about-us-team .about-us-team-img figcaption a:hover {
    font-weight: 500;
    font-size: 1.3rem;
    color: #2b2e4a;
}

@media (max-width: 992px) {

    .content-area .about-us-area .title p,
    .content-area .about-ourteam-area .title p {
        font-size: 2rem;
    }

    .content-area .about-us-detail-area .about-us-detail p {
        font-size: 1.4rem;
    }

    .content-area .about-us-detail-area .about-us-img1,
    .content-area .about-us-detail-area .about-us-img2 {
        display: none;
    }

    .content-area .about-ourteam-area {
        padding: 3rem 1rem;
    }
}

@media (max-width: 768px) {
    .content-area .about-us-detail-area .about-us-detail {
        max-width: 80%;
        text-align: center;
    }

    .about-us-team .about-us-team-img img {
        width: 70%;
        height: 100%;
    }

    .about-us-team .about-us-team-img figcaption a {
        font-size: 1.3rem;
    }

    .about-us-team .about-us-team-img figcaption a:hover {
        font-size: 1.5rem;
    }
}

@media (max-width: 414px) {
    .content-area .about-us-detail-area .about-us-detail {
        max-width: 100%;
    }

    .content-area .about-us-area .title p,
    .content-area .about-ourteam-area .title p {
        font-size: 1.5rem;
    }

    .content-area .about-us-detail-area .about-us-detail p {
        font-size: 1.2rem;
    }
}

/* footer */
footer {
    background-color: #ffd480;
    padding: 30px 0;
}

.footer-left,
.footer-middle {
    padding: 0 15px;
    border-right: 1px solid #333758;
}

.footer-left .row {
    display: flex;
    flex-direction: column;
}

.footer-left .footer-logo {
    display: flex;
    flex-direction: row;
}

.footer-left .footer-logo-slogan a {
    text-decoration: none;
    color: #0e3150;
    font-size: 2rem;
    font-weight: 700;
}

.footer-left .footer-logo-img img {
    width: 80%;
    height: 80%;
}

.footer-left .footer-logo-slogan a::after {
    content: 'GetUrOwnPartner';
    float: left;
    color: #2b2e4a;
    font-size: 1.2rem;
    font-weight: 500;
}

.footer-left .row .col.col-md-4 {
    min-width: 90%;
}

.footer-p {
    font-size: 16px;
    font-weight: 400;
    color: #2b2e4a;
    line-height: 25px;
}

.footer-left ul {
    display: flex;
    flex-direction: row;
}

.footer-left li {
    padding: 11px 0;
    margin-right: 10px;
}

.footer-left li a .fa {
    background: none;
    border: 1px solid #333758;
    border-radius: 50%;
    color: #2b2e4a;
    display: inline-block;
    font-size: 1.3rem;
    line-height: 40px;
    height: 40px;
    text-align: center;
    width: 40px;
    transition: all 0.5s ease;
}

.footer-left li a .fa:hover {
    border: 1px solid #007bff;
    color: #007bff;
}

.footer-middle {
    padding: 0 15px;
    border-right: 1px solid #3b3b3b;
}

.footer-middle-title p,
.footer-right p {
    color: #2b2e4a;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-middle-li {
    position: relative;
    margin-bottom: 15px;
    font-size: 1rem;
    height: 2rem;
    padding-left: 40px;
}

.footer-middle-li .fax::after {
    content: '傳真：(02)799-8799';
}

.footer-middle-li .fax {
    line-height: 1.2rem;
}

.footer-middle-li p {
    font-weight: 400;
    color: #2b2e4a;
    margin-left: 10px;
    padding-left: 0;
    line-height: 30px;
}

.footer-middle-li .fa {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #74797f;
    text-align: center;
    font-size: 1.1rem;
    color: #2b2e4a;
    background: none;
    border-radius: 50%;
    line-height: 2.2rem;
    width: 2.2rem;
    height: 2.2rem;
}

.footer-right {
    padding: 0 15px;
}

.footer-right li p {
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 400;
    color: #2b2e4a;
    line-height: 1rem;
}

@media (max-width:1000px) {

    .footer-left,
    .footer-middle {
        border-right: none;
        border-bottom: 1px solid #74797f;
    }
}

@media (min-width: 768px) and (max-width: 991.99px) {
    .footer-left .footer-logo-img img {
        width: 60%;
        height: 60%;
    }

    .footer-logo .col-lg-4.col-md-6.col-sm-7 {
        display: flex;
        align-items: center;
    }
}

@media (min-width: 576px) and (max-width: 767.99px) {
    .footer-left .footer-logo-img img {
        width: 50%;
        height: 50%;
    }

    .footer-left .footer-logo-slogan a {
        font-size: 1.5rem;
        font-weight: 700;
    }
}

@media (min-width: 360px) and (max-width: 575.99px) {

    .footer-left .footer-logo-img img {
        width: 40%;
        height: 40%;
    }

    .footer-left .footer-logo-img-area,
    .footer-left .footer-logo-slogan-area {
        text-align: center;
    }

    .footer-left .footer-logo-slogan a {
        font-size: 1.5rem;
    }

    .footer-left .footer-logo-slogan a::after {
        display: none;
    }
}

/* footer copyright */
.footer-copyright {
    width: 100%;
    background-color: #ecb649;
    padding: 10px 0;
}

.footer-copyright .copyright {
    text-align: center;
}

.footer-copyright .copyright p,
.footer-copyright .copyright span {
    display: inline;
    color: #2b2e4a;
}