* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    list-style: none;
}

html,
body {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

/* header-top */
.header {
    background: #ffd480 no-repeat;
    padding-bottom: 10px;
    height: 20%;
}

.header-area .container {
    position: relative;
}

.header .logo a {
    text-decoration: none;
    color: #0e3150;
    font-size: 2rem;
}

.header .logo img {
    width: 80%;
    height: 80%;
}

.header .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header .navbar-toggler {
    background-color: #ec610a;
    opacity: 0.7;
    display: none;
}

.header .nav-bar .nav-top ul {
    display: flex;
    justify-content: flex-end;
}

.header .nav-bar .nav-top a {
    text-decoration: none;
    transition: all 0.7s ease-out;
    color: #2b2e4a;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px 20px;
}

.header .nav-bar .nav-top a:hover {
    color: #1e2022;
    font-size: 1.5rem;
    border-bottom: 1px #1e2022 solid;
}

@media (max-width: 992px) {
    .header .nav-bar .nav-top ul li {
        margin-left: 0 !important;
        text-align: center;
        margin: 5px 0;
    }

    .header .nav-bar .nav-top ul {
        display: flex;
        flex-direction: column;
    }

    .header .nav-bar a {
        font-size: 1.8rem;
        padding: 0 10px;
    }

    .header .logo img {
        width: 40%;
        height: 40%;
    }

    .header .navbar-toggler {
        display: block;
        float: right;
    }
}

@media (max-width: 768px) {
    .header .logo img {
        width: 30%;
        height: 30%;
    }

    .header .nav-bar a {
        font-size: 1rem;
        padding: 0 10px;
    }
}

@media (max-width: 575px) {
    .header .navbar-toggler {
        padding: 0.1rem 0.1rem;
    }

    .header .logo {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}

/* header-bottom */
.header-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-bottom .title {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.header-bottom .title p {
    font-size: 2rem;
    font-weight: 500;
    color: #2b2e4a;
    margin: 0;
}

.header-bottom .title i {
    font-size: 2rem;
    color: #2b2e4a;
}



@media (max-width:992px) {
    .header-bottom .title p {
        font-size: 1.5rem;
    }

    .header-bottom .title i {
        font-size: 1.5rem;
    }
}

@media (max-width:768px) {
    .header .logo img {
        width: 30%;
        height: 30%;
    }

    .header .nav-bar a {
        font-size: 1.2rem;
        padding: 0 10px;
    }

    .header-bottom .title {
        width: 40%;
    }

}

@media (max-width:576px) {
    .header-bottom .title p {
        display: none;
    }

    .header .nav-bar a {
        font-size: 1.1rem;
        padding: 0 10px;
    }

    .header-bottom .title i {
        font-size: 2rem;
    }

}

/* adopt-area */
.search-area .search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search-area .search-button {
    margin: 2rem 0;
    border: 1px solid gray;
    border-radius: 5px;
    background: lemonchiffon;
    justify-content: center;
    text-align: center;
    display: flex;
    width: 20%;
}

.search-area .search-button a {
    border-radius: 5px;
    text-decoration: none;
    width: 100%;
    height: 50%;
    line-height: 3rem;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: #2b2e4a;
    transition: all 0.7s ease;
}

.search-area .search-button a:hover {
    background: #2b2e4a;
    color: white;
}

.search-area .search-title {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    font-size: 2rem;
}

.search-area #filter .nav-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.search-area #filter .nav-item i,
.search-area #filter .nav-item a {
    color: #000;
    font-size: 1.2rem;
    padding: 1rem;
}

.search-area #filter .dropdown {
    border-top: 1px solid gray;
}

.search-area #filter .nav-item .dropdown-menu {
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
}

.search-area #filter .nav-item .dropdown-menu a {
    color: #2b2e4a;
    transition: all 0.7s ease;
}

.search-area #filter .nav-item .dropdown-menu .active {
    background: #2b2e4a;
    color: white;
}

.adopt-result .row .dog-data {
    text-align: center;
    margin: 30px 0;
}

.adopt-result .dog-data .result-item {
    border: 1px gray solid;
    position: relative;
    height: 23rem;
}

.adopt-result .result-img {
    width: 100%;
    height: 18rem;
}

.adopt-result .result-img img {
    width: 100%;
    height: 100%;
}

.adopt-result .result-name {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 5%;
}

.adopt-result .result-name h2 {
    color: #2b2e4a;
    font-size: 2rem;
    padding: 0.5rem;
}

.adopt-result .result-more {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0%;
}

.adopt-result .result-more a {
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
    color: #ed733f;
    transition: all 0.7s ease;
}

.adopt-result .result-more a:hover {
    font-size: 1.1rem;
    color: #ff5126;
}

@media (max-width: 992px) {
    .search-area .search-title {
        width: 60%;
        font-size: 1.8rem;
        justify-content: flex-end;
    }

    .adopt-result .result-item {
        width: 100%;
        height: 80%;
    }

    .adopt-result .dog-data .result-item {
        height: 28rem;
    }

    .adopt-result .result-img {
        width: 100%;
        height: 22rem;
    }
}

@media (min-width: 768px) and (max-width: 991.99px) {
    .search-area #filter .nav-item {
        width: 50%;
    }

    .search-area .search-button {
        width: 30%;
    }

    .adopt-result .dog-data {
        display: flex;
        justify-content: center;
    }

    .adopt-result .dog-data .result-item {
        border: 1px gray solid;
        position: relative;
        height: 28rem;
        width: 100%;
    }

    .adopt-result .result-img {
        width: 100%;
        height: 22rem;
    }
}

@media (min-width: 576px) and (max-width: 767.99px) {
    .search-area .search {
        justify-content: center;
    }

    .search-area .search-button a {
        font-size: 1.3rem;
    }

    .search-area .search-title {
        display: none;
    }

    .adopt-result .result-img {
        width: 100%;
        height: 22rem;
    }

    .adopt-result .dog-data .result-item {
        height: 28rem;
    }
}

@media (min-width: 360px) and (max-width: 575.99px) {
    .search-area #filter .nav-item {
        width: 80%;
    }

    .search-area .search {
        justify-content: center;
    }

    #filter .row {
        justify-content: center;
    }

    .adopt-result .result-name {
        bottom: 5%;
    }

    .search-area .search-button {
        width: 40%;
    }

    .adopt-result .result-img {
        width: 100%;
        height: 22rem;
    }

    .adopt-result .dog-data .result-item {
        height: 28rem;
    }

    .search-area .search-title {
        display: none;
    }
}


/* 領養modal */

.modal-content {
    flex-direction: row;
}

.modal-content .modal-image-area {
    display: flex;
    align-items: center;
}

.modal-content .modal-image-detail {
    margin-left: 20px;
    flex-direction: column;
    justify-content: flex-start;
}

.modal-content .modal-image-detail p,
.modal-content .modal-image-detail h3,
.modal-detail p {
    justify-content: flex-start;
    padding: 10px;
    color: #020205;
    border-bottom: 1px solid #e43a19;
}

.modal-content .modal-image-detail p {
    font-size: 1rem;
}

@media (max-width:768px) {

    .modal-content .modal-image-detail p,
    .modal-content .modal-image-detail h3,
    .modal-detail p {
        padding: 20px;
    }

    .modal-content .modal-image-detail p {
        font-size: 1.5rem;
    }
}

/* footer */
footer {
    background-color: #ffd480;
    padding: 30px 0;
}

.footer-left,
.footer-middle {
    padding: 0 15px;
    border-right: 1px solid #333758;
}

.footer-left .row {
    display: flex;
    flex-direction: column;
}

.footer-left .footer-logo {
    display: flex;
    flex-direction: row;
}

.footer-left .footer-logo-slogan a {
    text-decoration: none;
    color: #0e3150;
    font-size: 2rem;
    font-weight: 700;
}

.footer-left .footer-logo-img img {
    width: 80%;
    height: 80%;
}

.footer-left .footer-logo-slogan a::after {
    content: 'GetUrOwnPartner';
    float: left;
    color: #2b2e4a;
    font-size: 1.2rem;
    font-weight: 500;
}

.footer-left .row .col.col-md-4 {
    min-width: 90%;
}

.footer-p {
    font-size: 16px;
    font-weight: 400;
    color: #2b2e4a;
    line-height: 25px;
}

.footer-left ul {
    display: flex;
    flex-direction: row;
}

.footer-left li {
    padding: 11px 0;
    margin-right: 10px;
}

.footer-left li a .fa {
    background: none;
    border: 1px solid #333758;
    border-radius: 50%;
    color: #2b2e4a;
    display: inline-block;
    font-size: 1.3rem;
    line-height: 40px;
    height: 40px;
    text-align: center;
    width: 40px;
    transition: all 0.5s ease;
}

.footer-left li a .fa:hover {
    border: 1px solid #007bff;
    color: #007bff;
}

.footer-middle {
    padding: 0 15px;
    border-right: 1px solid #3b3b3b;
}

.footer-middle-title p,
.footer-right p {
    color: #2b2e4a;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-middle-li {
    position: relative;
    margin-bottom: 15px;
    font-size: 1rem;
    height: 2rem;
    padding-left: 40px;
}

.footer-middle-li .fax::after {
    content: '傳真：(02)799-8799';
}

.footer-middle-li .fax {
    line-height: 1.2rem;
}

.footer-middle-li p {
    font-weight: 400;
    color: #2b2e4a;
    margin-left: 10px;
    padding-left: 0;
    line-height: 30px;
}

.footer-middle-li .fa {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #74797f;
    text-align: center;
    font-size: 1.1rem;
    color: #2b2e4a;
    background: none;
    border-radius: 50%;
    line-height: 2.2rem;
    width: 2.2rem;
    height: 2.2rem;
}

.footer-right {
    padding: 0 15px;
}

.footer-right li p {
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 400;
    color: #2b2e4a;
    line-height: 1rem;
}

@media (max-width:1000px) {

    .footer-left,
    .footer-middle {
        border-right: none;
        border-bottom: 1px solid #74797f;
    }
}

@media (min-width: 768px) and (max-width: 991.99px) {
    .footer-left .footer-logo-img img {
        width: 60%;
        height: 60%;
    }

    .footer-logo .col-lg-4.col-md-6.col-sm-7 {
        display: flex;
        align-items: center;
    }
}

@media (min-width: 576px) and (max-width: 767.99px) {
    .footer-left .footer-logo-img img {
        width: 50%;
        height: 50%;
    }

    .footer-left .footer-logo-slogan a {
        font-size: 1.5rem;
        font-weight: 700;
    }
}

@media (min-width: 360px) and (max-width: 575.99px) {

    .footer-left .footer-logo-img img {
        width: 40%;
        height: 40%;
    }

    .footer-left .footer-logo-img-area,
    .footer-left .footer-logo-slogan-area {
        text-align: center;
    }

    .footer-left .footer-logo-slogan a {
        font-size: 1.5rem;
    }

    .footer-left .footer-logo-slogan a::after {
        display: none;
    }
}

/* footer copyright */
.footer-copyright {
    width: 100%;
    background-color: #ecb649;
    padding: 10px 0;
}

.footer-copyright .copyright {
    text-align: center;
}

.footer-copyright .copyright p,
.footer-copyright .copyright span {
    display: inline;
    color: #2b2e4a;
}