* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    list-style: none;
}

html,
body {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

/* header-top */
.header {
    background: #ffd480 no-repeat;
    padding-bottom: 10px;
    height: 20%;
}

.header-area .container {
    position: relative;
}

.header .logo a {
    text-decoration: none;
    color: #0e3150;
    font-size: 2rem;
}

.header .logo img {
    width: 80%;
    height: 80%;
}

.header .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header .navbar-toggler {
    background-color: #ec610a;
    opacity: 0.7;
    display: none;
}

.header .nav-bar .nav-top ul {
    display: flex;
    justify-content: flex-end;
}

.header .nav-bar .nav-top a {
    text-decoration: none;
    transition: all 0.7s ease-out;
    color: #2b2e4a;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px 20px;
}

.header .nav-bar .nav-top a:hover {
    color: #1e2022;
    font-size: 1.5rem;
    border-bottom: 1px #1e2022 solid;
}

@media (max-width: 992px) {
    .header .nav-bar .nav-top ul li {
        margin-left: 0 !important;
        text-align: center;
        margin: 5px 0;
    }

    .header .nav-bar .nav-top ul {
        display: flex;
        flex-direction: column;
    }

    .header .nav-bar a {
        font-size: 1.8rem;
        padding: 0 10px;
    }

    .header .logo img {
        width: 40%;
        height: 40%;
    }

    .header .navbar-toggler {
        display: block;
        float: right;
    }
}

@media (max-width: 768px) {
    .header .logo img {
        width: 30%;
        height: 30%;
    }

    .header .nav-bar a {
        font-size: 1rem;
        padding: 0 10px;
    }
}

@media (max-width: 575px) {
    .header .navbar-toggler {
        padding: 0.1rem 0.1rem;
    }

    .header .logo {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}

/* header-bottom */
.header-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-bottom .title {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.header-bottom .title p {
    font-size: 2rem;
    font-weight: 500;
    color: #2b2e4a;
    margin: 0;
}

.header-bottom .title i {
    font-size: 2rem;
    color: #2b2e4a;
}


.search-button,
.nav-item {
    margin: 5px;
}

@media (max-width:992px) {
    .header-bottom .title p {
        font-size: 1.5rem;
    }

    .header-bottom .title i {
        font-size: 1.5rem;
    }
}

@media (max-width:768px) {
    .header .logo img {
        width: 30%;
        height: 30%;
    }

    .header .nav-bar a {
        font-size: 1.2rem;
        padding: 0 10px;
    }

    .header-bottom .title {
        width: 40%;
    }

}

@media (max-width:576px) {
    .header-bottom .title p {
        display: none;
    }

    .header .nav-bar a {
        font-size: 1.1rem;
        padding: 0 10px;
    }

    .header-bottom .title i {
        font-size: 2rem;
    }

}

/* content */
section .top-area {
    margin: 5rem 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 10%;
}

section .top-area .title {
    padding: 1rem;
}

section .top-area .title p {
    font-size: 3rem;
    font-weight: 600;
}

section .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    padding: 1rem;
}

section .content p {
    line-height: 1.8rem;
    font-size: 1.2rem;
}

section .content-region {
    display: flex;
    flex-direction: row;
    padding: 5rem 0;
}

section .content-region .col-lg-6.col-md-12.col-sm-12 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
}

section .content-region .col-lg-6.col-md-12.col-sm-12 .title,
section .content-region .col-lg-6.col-md-12.col-sm-12 .content-detail {
    display: flex;
    justify-content: flex-start;
    padding-left: 5%;
}

section .content-region .col-lg-6.col-md-12.col-sm-12 .title p {
    font-size: 2rem;
    font-weight: 700;
}

section .content-region .col-lg-6.col-md-12.col-sm-12 .content-detail p {
    font-size: 1.2rem;
}

section .content-region .col-lg-6.col-md-12.col-sm-12 .content-detail p a {
    text-decoration: underline;
    color: #fff6f6;
    transition: color 0.7s ease;
}

section .content-region .col-lg-6.col-md-12.col-sm-12 .content-detail p a:hover {
    color: #b4afaa;
}

section .content-region .col-lg-6.col-md-12.col-sm-12 .iframe-rwd {
    width: 70%;
    position: relative;
    padding-bottom: 46.25%;
    height: 0;
    overflow: hidden;
}

section .content-region .col-lg-6.col-md-12.col-sm-12 .iframe-rwd iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section .bottom-area {
    padding: 5rem 0;
    display: flex;
    justify-content: flex-end;
}

section .bottom-area ul {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    align-items: center;
}

section .bottom-area ul li {
    text-align: center;
    width: 10%;
    height: 100%;
    border: 1px solid gray;
    border-radius: 10%;
    background: #ffecda;
    transition: background 0.7s ease;
}

section .bottom-area ul li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #112d4e;
    transition: color 0.7s ease;
}

section .bottom-area ul li:hover {
    background: #625772;
}

section .bottom-area ul a:hover {
    color: #f5eee6;
}

section .bottom-area .active {
    background: #b86464;
}


@media (min-width: 768px) and (max-width: 991.99px) {
    section .top-area .title p {
        font-size: 2.5rem;
    }

    section .content p {
        line-height: 1.5rem;
        font-size: 1.2rem;
    }

    section .content {
        max-width: 90%;
    }

    section .content-region .col-lg-6.col-md-12.col-sm-12 .title p {
        font-size: 1.5rem;
        font-weight: 600;
    }

    section .content-region .col-lg-6.col-md-12.col-sm-12 .content-detail p {
        font-size: 1rem;
    }
}

@media (min-width: 576px) and (max-width: 767.99px) {

    section .content-region .col-lg-6.col-md-12.col-sm-12 .title,
    section .content-region .col-lg-6.col-md-12.col-sm-12 .content-detail {
        display: flex;
        justify-content: center;
    }

    section .content-region .col-lg-6.col-md-12.col-sm-12 .title,
    section .content-region .col-lg-6.col-md-12.col-sm-12 .content-detail {
        margin: 1rem 0;
        padding-left: 0;
    }

    section .top-area .title p {
        text-align: center;
        font-size: 2.2rem;
    }

    section .content p {
        text-align: center;
        line-height: 1.5rem;
        font-size: 1.1rem;
    }

    section .content {
        max-width: 100%;
    }

    section .content-region {
        display: flex;
        flex-direction: column;
        padding: 2rem 0;
    }

    section .content-region .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section .content-region .col-lg-6.col-md-12.col-sm-12 {
        max-width: 90%;
    }

    section .content-region .col-lg-6.col-md-12.col-sm-12,
    section .content-region .col-lg-6.col-md-12.col-sm-12 .title,
    section .content-region .col-lg-6.col-md-12.col-sm-12 .content-detail {
        display: flex;
        align-items: center;
    }

    section .bottom-area {
        padding: 3rem 0;
        justify-content: center;
    }

    section .bottom-area ul {
        height: 100%;
        width: 50%;
    }
}

@media (min-width: 360px) and (max-width: 575.99px) {

    section .content-region .col-lg-6.col-md-12.col-sm-12 .title,
    section .content-region .col-lg-6.col-md-12.col-sm-12 .content-detail {
        display: flex;
        justify-content: center;
    }

    section .content-region .col-lg-6.col-md-12.col-sm-12 .title,
    section .content-region .col-lg-6.col-md-12.col-sm-12 .content-detail {
        padding-left: 0;
        padding: 0.5rem;
    }

    section .top-area .title p {
        text-align: center;
        font-size: 2rem;
    }

    section .content p {
        text-align: center;
        line-height: 1.8rem;
        font-size: 1.1rem;
    }

    section .content {
        max-width: 100%;
    }

    section .content-region .col-lg-6.col-md-12.col-sm-12 {
        max-width: 100%;
    }

    section .content-region .col-lg-6.col-md-12.col-sm-12 .title p {
        font-size: 1.5rem;
    }

    section .content-region .col-lg-6.col-md-12.col-sm-12 .content-detail p {
        font-size: 1rem;
    }

    section .content-region .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section .content-region .col-lg-6.col-md-12.col-sm-12,
    section .content-region .col-lg-6.col-md-12.col-sm-12 .title,
    section .content-region .col-lg-6.col-md-12.col-sm-12 .content-detail {
        display: flex;
        align-items: center;
    }

    section .content-region {
        padding: 3rem 0;
    }

    section .bottom-area {
        padding: 1.5rem 0;
        justify-content: center;
    }

    section .bottom-area ul {
        height: 100%;
        width: 70%;
    }
}


/* footer */
footer {
    background-color: #ffd480;
    padding: 30px 0;
}

.footer-left,
.footer-middle {
    padding: 0 15px;
    border-right: 1px solid #333758;
}

.footer-left .row {
    display: flex;
    flex-direction: column;
}

.footer-left .footer-logo {
    display: flex;
    flex-direction: row;
}

.footer-left .footer-logo-slogan a {
    text-decoration: none;
    color: #0e3150;
    font-size: 2rem;
    font-weight: 700;
}

.footer-left .footer-logo-img img {
    width: 80%;
    height: 80%;
}

.footer-left .footer-logo-slogan a::after {
    content: 'GetUrOwnPartner';
    float: left;
    color: #2b2e4a;
    font-size: 1.2rem;
    font-weight: 500;
}

.footer-left .row .col.col-md-4 {
    min-width: 90%;
}

.footer-p {
    font-size: 16px;
    font-weight: 400;
    color: #2b2e4a;
    line-height: 25px;
}

.footer-left ul {
    display: flex;
    flex-direction: row;
}

.footer-left li {
    padding: 11px 0;
    margin-right: 10px;
}

.footer-left li a .fa {
    background: none;
    border: 1px solid #333758;
    border-radius: 50%;
    color: #2b2e4a;
    display: inline-block;
    font-size: 1.3rem;
    line-height: 40px;
    height: 40px;
    text-align: center;
    width: 40px;
    transition: all 0.5s ease;
}

.footer-left li a .fa:hover {
    border: 1px solid #007bff;
    color: #007bff;
}

.footer-middle {
    padding: 0 15px;
    border-right: 1px solid #3b3b3b;
}

.footer-middle-title p,
.footer-right p {
    color: #2b2e4a;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-middle-li {
    position: relative;
    margin-bottom: 15px;
    font-size: 1rem;
    height: 2rem;
    padding-left: 40px;
}

.footer-middle-li .fax::after {
    content: '傳真：(02)799-8799';
}

.footer-middle-li .fax {
    line-height: 1.2rem;
}

.footer-middle-li p {
    font-weight: 400;
    color: #2b2e4a;
    margin-left: 10px;
    padding-left: 0;
    line-height: 30px;
}

.footer-middle-li .fa {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #74797f;
    text-align: center;
    font-size: 1.1rem;
    color: #2b2e4a;
    background: none;
    border-radius: 50%;
    line-height: 2.2rem;
    width: 2.2rem;
    height: 2.2rem;
}

.footer-right {
    padding: 0 15px;
}

.footer-right li p {
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 400;
    color: #2b2e4a;
    line-height: 1rem;
}

@media (max-width:1000px) {

    .footer-left,
    .footer-middle {
        border-right: none;
        border-bottom: 1px solid #74797f;
    }
}

@media (min-width: 768px) and (max-width: 991.99px) {
    .footer-left .footer-logo-img img {
        width: 60%;
        height: 60%;
    }

    .footer-logo .col-lg-4.col-md-6.col-sm-7 {
        display: flex;
        align-items: center;
    }
}

@media (min-width: 576px) and (max-width: 767.99px) {
    .footer-left .footer-logo-img img {
        width: 50%;
        height: 50%;
    }

    .footer-left .footer-logo-slogan a {
        font-size: 1.5rem;
        font-weight: 700;
    }
}

@media (min-width: 360px) and (max-width: 575.99px) {

    .footer-left .footer-logo-img img {
        width: 40%;
        height: 40%;
    }

    .footer-left .footer-logo-img-area,
    .footer-left .footer-logo-slogan-area {
        text-align: center;
    }

    .footer-left .footer-logo-slogan a {
        font-size: 1.5rem;
    }

    .footer-left .footer-logo-slogan a::after {
        display: none;
    }
}

/* footer copyright */
.footer-copyright {
    width: 100%;
    background-color: #ecb649;
    padding: 10px 0;
}

.footer-copyright .copyright {
    text-align: center;
}

.footer-copyright .copyright p,
.footer-copyright .copyright span {
    display: inline;
    color: #2b2e4a;
}