* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    list-style: none;
}

html,
body {
    margin: 0 auto;
    height: 100%;
    width: 100%
}

/* header-top */
.header {
    background: #ffd480 no-repeat;
    padding-bottom: 10px;
    height: 20%;
}

.header-area .container {
    position: relative;
}

.header .logo a {
    text-decoration: none;
    color: #0e3150;
    font-size: 2rem;
}

.header .logo img {
    width: 80%;
    height: 80%;
}

.header .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header .navbar-toggler {
    background-color: #ec610a;
    opacity: 0.7;
    display: none;
}

.header .nav-bar .nav-top ul {
    display: flex;
    justify-content: flex-end;
}

.header .nav-bar .nav-top a {
    text-decoration: none;
    transition: all 0.7s ease-out;
    color: #2b2e4a;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px 20px;
}

.header .nav-bar .nav-top a:hover {
    color: #1e2022;
    font-size: 1.5rem;
    border-bottom: 1px #1e2022 solid;
}

@media (max-width:992px) {
    .header .nav-bar .nav-top ul li {
        margin-left: 0 !important;
        text-align: center;
        margin: 5px 0;
    }

    .header .nav-bar .nav-top ul {
        display: flex;
        flex-direction: column;
    }

    .header .nav-bar a {
        font-size: 1.8rem;
        padding: 0 10px;
    }

    .header .logo img {
        width: 40%;
        height: 40%;
    }

    .header .navbar-toggler {
        display: block;
        float: right;
    }
}

@media (max-width:768px) {
    .header .logo img {
        width: 30%;
        height: 30%;
    }

    .header .nav-bar a {
        font-size: 1rem;
        padding: 0 10px;
    }

}

@media (max-width:575px) {
    .header .navbar-toggler {
        padding: 0.1rem 0.1rem;
    }

    .header .logo {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

}

/* header-bottom */
.header-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-bottom .title {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.header-bottom .title p {
    font-size: 2rem;
    font-weight: 500;
    color: #2b2e4a;
    margin: 0;
}

.header-bottom .title i {
    font-size: 2rem;
    color: #2b2e4a;
}


.search-button,
.nav-item {
    margin: 5px;
}

@media (max-width:992px) {
    .header-bottom .title p {
        font-size: 1.5rem;
    }

    .header-bottom .title i {
        font-size: 1.5rem;
    }
}

@media (max-width:768px) {
    .header .logo img {
        width: 30%;
        height: 30%;
    }

    .header .nav-bar a {
        font-size: 1.2rem;
        padding: 0 10px;
    }

    .header-bottom .title {
        width: 40%;
    }

}

@media (max-width:576px) {
    .header-bottom .title p {
        display: none;
    }

    .header .nav-bar a {
        font-size: 1.1rem;
        padding: 0 10px;
    }

    .header-bottom .title i {
        font-size: 2rem;
    }

}

/* 輪播圖 */
#carouselIndicators {
    height: 700px;
    position: relative;
}

#carouselIndicators .carousel-inner {
    display: flex;
    justify-content: center;
}

#carouselIndicators .carousel-inner img {
    height: 700px;
}

#carouselIndicators .carousel-indicators li {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #e4eddb;
    border: 1px solid #e4eddb;
}

#carouselIndicators .carousel-indicators li.active {
    background: #34495e;
    border: 1px solid #34495e;
}

#carouselIndicators .carousel-inner .carousel-item h3,
#carouselIndicators .carousel-inner .carousel-item h3 p {
    color: #fefdca;
    font-weight: 500;
    border: none;
    padding: 5px;
}

#carouselIndicators .carousel-inner .carousel-item p {
    font-size: 2rem;
}

@media (max-width:1000px) {

    #carouselIndicators,
    #carouselIndicators .carousel-inner img {
        height: 500px;
    }
}

@media (max-width:768px) {
    #carouselIndicators {
        display: none;
    }
}


/* 內容 */

.content .content-title,
.story .story-title {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .content-title h2,
.story .story-title h2 {
    padding: 10px;
    color: #ec610a;
}

.content .content-detail {
    margin-top: 30px;
}

.content .content-detail .row {
    justify-content: center;
}

.content .content-detail .row .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .content-detail .row .image {
    width: 30%;
    height: 30%;
    padding: 10px 0;
}

.content .content-detail .row .image img {
    text-align: center;
}

.content .content-detail .row .slogan {
    padding: 30px;
    display: flex;
    justify-content: center;
}

.content .content-detail .row .slogan h3 {
    color: #ec610a;
    font-size: 2rem;
}

.content .content-detail .row .detail {
    display: flex;
    justify-content: center;
    min-width: 90%;
}

.content .content-detail .row .detail p {
    color: #29252c;
    font-size: 1rem;
    text-align: center;
}

.content .content-more,
.story .content-more {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.content .content-more a,
.story .content-more a {
    text-align: center;
    width: 15%;
    border-radius: 5px;
    display: inline-block;
    background: #ec610a;
    text-decoration: none;
    line-height: 3rem;
    color: #fefdca;
    font-size: 1.5rem;
    transition: all 0.7s ease;
}

.content .content-more a:hover,
.story .content-more a:hover {
    background: #883806;
}


@media (max-width:992px) {
    .content .content-detail .row .image {
        width: 75%;
        width: 75%;
        padding: 10px;
    }

    .content .content-detail .row .slogan h3 {
        font-size: 1.5rem;
    }

    .content .content-detail .row .slogan {
        text-align: center;
    }

    .story .content-more,
    .content .content-more {
        padding: 20px 0;
    }

    .story .content-more a,
    .content .content-more a {
        text-align: center;
        width: 25%;
        line-height: 3rem;
        font-size: 1.5rem;
    }

    .content .content-detail .row .slogan {
        padding: 20px;
    }
}

@media (max-width:768px) {

    .content .content-title h2,
    .story .story-title h2 {
        font-size: 1.8rem;
    }

    .content .content-detail .row .image {
        width: 40%;
        width: 40%;
        padding: 10px;
    }
}

@media (min-width:360px) {

    .content .content-detail .row .image {
        width: 40%;
        width: 40%;
        padding: 10px;
    }

    .story .content-more a,
    .content .content-more a {
        width: 30%;
        line-height: 3rem;
        font-size: 1.2rem;
    }
}

/* 領養 */
.story {
    margin: 50px auto;
}

.story .adopt-process {
    display: flex;
    justify-content: center;
}

.story .adopt-process img {
    position: relative;
    width: 100%;
    height: 90%;
}

.story .adopt-process .story-detail-title {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 70%;
    transition: all 0.5s ease;
}

.story .adopt-process .story-detail-title p {
    background: #ec610a;
    color: azure;
    font-size: 1.5rem;
    text-align: center;
    transition: all 0.7s ease;
    width: 80%;
}

.story-transtion {
    background: azure !important;
    color: #ec610a !important;
    font-size: 2rem !important;
    transform: translateY(-70%);
    width: 100% !important;
}

@media (max-width:992px) {
    .story .adopt-process .story-detail-title {
        width: 80%;
    }

    .story .adopt-process .story-detail-title p {
        font-size: 1.2rem;
        width: 80%;
    }

    .story-transtion {
        background: azure !important;
        color: #ec610a !important;
        font-size: 1.5rem !important;
        transform: translateY(-50%);
        width: 90% !important;
    }
}

@media (max-width:768px) {
    .story .adopt-process .story-detail-title {
        width: 70%;
    }

    .story .adopt-process .story-detail-title p {
        font-size: 1.5rem;
        width: 80%;
    }

    .story-transtion {
        background: #ec610a !important;
        color: azure !important;
        font-size: 1.5rem !important;
        transform: translateY(-80%);
        width: 90% !important;
    }
}

/* 領養modal */
.modal-header {
    background: #e43a19;
    margin-bottom: 20px;
    width: 100%;
}

.modal-content {
    flex-direction: row;
}

.modal-header .modal-title {
    text-align: center;
    color: azure;
    font-size: 1rem;
}

.modal-header span {
    color: azure;
    font-size: 1.5rem;
}

.modal-body .modal-image-detail {
    margin-left: 20px;
    flex-direction: column;
    justify-content: flex-start;
}

.modal .modal-image-detail p,
.modal .modal-image-detail h3,
.modal-detail p {
    justify-content: flex-start;
    padding: 10px;
    color: #020205;
    border-bottom: 1px solid #e43a19;
}

.modal .modal-image-detail p {
    font-size: 1rem;
}

@media (max-width:768px) {

    .modal-header .modal-title {
        font-size: 1.5rem;
    }

    .modal .modal-image-detail p,
    .modal .modal-image-detail h3,
    .modal-detail p {
        padding: 20px;
    }

    .modal .modal-image-detail p {
        font-size: 1.5rem;
    }
}

/* footer */
footer {
    background-color: #ffd480;
    padding: 30px 0;
}

.footer-left,
.footer-middle {
    padding: 0 15px;
    border-right: 1px solid #333758;
}

.footer-left .row {
    display: flex;
    flex-direction: column;
}

.footer-left .footer-logo {
    display: flex;
    flex-direction: row;
}

.footer-left .footer-logo-slogan a {
    text-decoration: none;
    color: #0e3150;
    font-size: 2rem;
    font-weight: 700;
}

.footer-left .footer-logo-img img {
    width: 80%;
    height: 80%;
}

.footer-left .footer-logo-slogan a::after {
    content: 'GetUrOwnPartner';
    float: left;
    color: #2b2e4a;
    font-size: 1.2rem;
    font-weight: 500;
}

.footer-left .row .col.col-md-4 {
    min-width: 90%;
}

.footer-p {
    font-size: 16px;
    font-weight: 400;
    color: #2b2e4a;
    line-height: 25px;
}

.footer-left ul {
    display: flex;
    flex-direction: row;
}

.footer-left li {
    padding: 11px 0;
    margin-right: 10px;
}

.footer-left li a .fa {
    background: none;
    border: 1px solid #333758;
    border-radius: 50%;
    color: #2b2e4a;
    display: inline-block;
    font-size: 1.3rem;
    line-height: 40px;
    height: 40px;
    text-align: center;
    width: 40px;
    transition: all 0.5s ease;
}

.footer-left li a .fa:hover {
    border: 1px solid #007bff;
    color: #007bff;
}

.footer-middle {
    padding: 0 15px;
    border-right: 1px solid #3b3b3b;
}

.footer-middle-title p,
.footer-right p {
    color: #2b2e4a;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-middle-li {
    position: relative;
    margin-bottom: 15px;
    font-size: 1rem;
    height: 2rem;
    padding-left: 40px;
}

.footer-middle-li .fax::after {
    content: '傳真：(02)799-8799';
}

.footer-middle-li .fax {
    line-height: 1.2rem;
}

.footer-middle-li p {
    font-weight: 400;
    color: #2b2e4a;
    margin-left: 10px;
    padding-left: 0;
    line-height: 30px;
}

.footer-middle-li .fa {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #74797f;
    text-align: center;
    font-size: 1.1rem;
    color: #2b2e4a;
    background: none;
    border-radius: 50%;
    line-height: 2.2rem;
    width: 2.2rem;
    height: 2.2rem;
}

.footer-right {
    padding: 0 15px;
}

.footer-right li p {
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 400;
    color: #2b2e4a;
    line-height: 1rem;
}

@media (max-width:1000px) {

    .footer-left,
    .footer-middle {
        border-right: none;
        border-bottom: 1px solid #74797f;
    }
}

@media (min-width: 768px) and (max-width: 991.99px) {
    .footer-left .footer-logo-img img {
        width: 60%;
        height: 60%;
    }

    .footer-logo .col-lg-4.col-md-6.col-sm-7 {
        display: flex;
        align-items: center;
    }
}

@media (min-width: 576px) and (max-width: 767.99px) {
    .footer-left .footer-logo-img img {
        width: 50%;
        height: 50%;
    }

    .footer-left .footer-logo-slogan a {
        font-size: 1.5rem;
        font-weight: 700;
    }
}

@media (min-width: 360px) and (max-width: 575.99px) {

    .footer-left .footer-logo-img img {
        width: 40%;
        height: 40%;
    }

    .footer-left .footer-logo-img-area,
    .footer-left .footer-logo-slogan-area {
        text-align: center;
    }

    .footer-left .footer-logo-slogan a {
        font-size: 1.5rem;
    }

    .footer-left .footer-logo-slogan a::after {
        display: none;
    }
}

/* footer copyright */
.footer-copyright {
    width: 100%;
    background-color: #ecb649;
    padding: 10px 0;
}

.footer-copyright .copyright {
    text-align: center;
}

.footer-copyright .copyright p,
.footer-copyright .copyright span {
    display: inline;
    color: #2b2e4a;
}