* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    list-style: none;
}

html,
body {
    margin: 0 auto;
    height: 100%;
    width: 100%
}

/* header-top */
.header {
    background: #ffd480 no-repeat;
    padding-bottom: 10px;
    height: 20%;
}

.header-area .container {
    position: relative;
}

.header .logo a {
    text-decoration: none;
    color: #0e3150;
    font-size: 2rem;
}

.header .logo img {
    width: 80%;
    height: 80%;
}

.header .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header .navbar-toggler {
    background-color: #ec610a;
    opacity: 0.7;
    display: none;
}

.header .nav-bar .nav-top ul {
    display: flex;
    justify-content: flex-end;
}

.header .nav-bar .nav-top a {
    text-decoration: none;
    transition: all 0.7s ease-out;
    color: #2b2e4a;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px 20px;
}

.header .nav-bar .nav-top a:hover {
    color: #1e2022;
    font-size: 1.5rem;
    border-bottom: 1px #1e2022 solid;
}

@media (max-width:992px) {
    .header .nav-bar .nav-top ul li {
        margin-left: 0 !important;
        text-align: center;
        margin: 5px 0;
    }

    .header .nav-bar .nav-top ul {
        display: flex;
        flex-direction: column;
    }

    .header .nav-bar a {
        font-size: 1.8rem;
        padding: 0 10px;
    }

    .header .logo img {
        width: 40%;
        height: 40%;
    }

    .header .navbar-toggler {
        display: block;
        float: right;
    }
}

@media (max-width:768px) {
    .header .logo img {
        width: 30%;
        height: 30%;
    }

    .header .nav-bar a {
        font-size: 1rem;
        padding: 0 10px;
    }

}

@media (max-width:575px) {
    .header .navbar-toggler {
        padding: 0.1rem 0.1rem;
    }

    .header .logo {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

}

/* header-bottom */
.header-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-bottom .title {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.header-bottom .title p {
    font-size: 2rem;
    font-weight: 500;
    color: #2b2e4a;
    margin: 0;
}

.header-bottom .title i {
    font-size: 2rem;
    color: #2b2e4a;
}


.search-button,
.nav-item {
    margin: 5px;
}

@media (max-width:992px) {
    .header-bottom .title p {
        font-size: 1.5rem;
    }

    .header-bottom .title i {
        font-size: 1.5rem;
    }
}

@media (max-width:768px) {
    .header .logo img {
        width: 30%;
        height: 30%;
    }

    .header .nav-bar a {
        font-size: 1.2rem;
        padding: 0 10px;
    }

    .header-bottom .title {
        width: 40%;
    }

}

@media (max-width:576px) {
    .header-bottom .title p {
        display: none;
    }

    .header .nav-bar a {
        font-size: 1.1rem;
        padding: 0 10px;
    }

    .header-bottom .title i {
        font-size: 2rem;
    }

}

/* 登入介面 */
.member-area {
    width: 100%;
    height: 50rem;
    background: #fff5a5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.member-area form {
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fcfefe;
    border: 1px solid #fcfefe;
    border-radius: 25px;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
}

.account p,
.password p,
.form-check span,
.password-check p {
    font-size: 1.2rem;
    color: #ff7e67;
    font-weight: 600;
}

.member-area input {
    margin-bottom: 0.8rem;
    padding: 0.1rem 0.5rem;
}

.form-check {
    display: flex;
    align-items: center;
}

.form-check input {
    width: 1rem;
    height: 1rem;
}

.login {
    display: flex;
    justify-content: center;
    border: 1px solid #ff7e67;
    border-radius: 0.25rem;
    background: #ff7e67;
}

.login a {
    padding: 0.5rem 1rem;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    text-decoration: none;
    color: #ecf0f1;
    font-weight: 600;
    transition: all 0.7s ease;
}

.login a:hover {
    font-size: 1.3rem;
    background: #ecf0f1;
    color: #ff7e67;
    border: none;
}

.spilt-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.spilt-line .line {
    background: rgba(139, 133, 133, 0.5);
    height: 0.05rem;
    width: 100%;
}

.spilt-line .line-p {
    height: 3.5rem;
    padding: 0.5rem;
}

.spilt-line .line-p p {
    color: rgba(139, 133, 133, 0.7);
    font-size: 1.5rem;
}

.fb-login {
    width: 70%;
    background: #3498db;
}

.fb-login a {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.fb-login a i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
    color: #ecf0f1;
}

.fb-login a p {
    color: #ecf0f1;
    font-size: 1.2rem;
    padding: 0 0.5rem;
    margin: 0;
}

.forget-password a {
    text-decoration: none;
}

.forget-password a p {
    padding: 0.5rem 0;
    font-size: 1rem;
    margin: 0;
}

.fast-register {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fast-register p {
    padding: 0.5rem;
    font-size: 1rem;
    margin: 0;
}

.fast-register a {
    text-decoration: none;
}

.error {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5rem;
    display: none;
}

.error i,
.error p {

    font-size: 1rem;
    color: #cc1313;
    margin: 0;
}

@media (min-width: 768px) and (max-width: 991.99px) {

    .member-area form {
        height: 75%;
    }

    .fb-login {
        width: 85%;
        background: #3498db;
    }

    .fb-login a i {
        font-size: 1.1rem;
    }

    .fb-login a p {
        font-size: 1.2rem;
        padding: 0 0.1rem;
    }

    .error {
        width: 90%;
        padding-bottom: 0.3rem;
    }
}

@media (min-width: 576px) and (max-width: 767.99px) {
    .member-area form {
        width: 70%;
        height: 75%;
    }

    .wrap-col {
        width: 18rem;
    }

    .member-area input {
        margin-bottom: 0.5rem;
        padding: 0.1rem 0.1rem;
        width: 70%;
    }

    .email p,
    .name p,
    .account p,
    .password p,
    .password-check p {
        font-size: 1.1rem;
    }

    .form-check input {
        width: 20%;
    }

    .error {
        width: 100%;
        padding-bottom: 0.3rem;
    }

    .login a {
        padding: 0.3rem 0.5rem;
        font-size: 1.2rem;
    }
}

@media (min-width: 360px) and (max-width: 575.99px) {

    .member-area form {
        width: 80%;
        height: 70%;
    }

    .wrap-col {
        width: 18rem;
    }

    .member-area input {
        margin-bottom: 0.5rem;
        padding: 0.1rem 0.1rem;
        width: 70%;
    }

    .email p,
    .name p,
    .account p,
    .password p,
    .password-check p {
        font-size: 1.1rem;
    }

    .form-check input {
        width: 20%;
    }

    .error {
        width: 100%;
        padding-bottom: 0.3rem;
    }

    .error i,
    .error p {
        font-size: 0.9rem;
        color: #cc1313;
        margin: 0;
    }

    .login a {
        padding: 0.3rem 0.5rem;
        font-size: 1.2rem;
    }

    .fb-login {
        width: 90%;
    }

    .fb-login a i {
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
        color: #ecf0f1;
    }

    .fb-login a p {
        font-size: 1rem;
        padding: 0 0.3rem;
    }

    .spilt-line .line-p {
        height: 3rem;
    }

    .spilt-line .line-p p {
        font-size: 1rem;
    }
}

/* footer */
footer {
    background-color: #ffd480;
    padding: 30px 0;
}

.footer-left,
.footer-middle {
    padding: 0 15px;
    border-right: 1px solid #333758;
}

.footer-left .row {
    display: flex;
    flex-direction: column;
}

.footer-left .footer-logo {
    display: flex;
    flex-direction: row;
}

.footer-left .footer-logo-slogan a {
    text-decoration: none;
    color: #0e3150;
    font-size: 2rem;
    font-weight: 700;
}

.footer-left .footer-logo-img img {
    width: 80%;
    height: 80%;
}

.footer-left .footer-logo-slogan a::after {
    content: 'GetUrOwnPartner';
    float: left;
    color: #2b2e4a;
    font-size: 1.2rem;
    font-weight: 500;
}

.footer-left .row .col.col-md-4 {
    min-width: 90%;
}

.footer-p {
    font-size: 16px;
    font-weight: 400;
    color: #2b2e4a;
    line-height: 25px;
}

.footer-left ul {
    display: flex;
    flex-direction: row;
}

.footer-left li {
    padding: 11px 0;
    margin-right: 10px;
}

.footer-left li a .fa {
    background: none;
    border: 1px solid #333758;
    border-radius: 50%;
    color: #2b2e4a;
    display: inline-block;
    font-size: 1.3rem;
    line-height: 40px;
    height: 40px;
    text-align: center;
    width: 40px;
    transition: all 0.5s ease;
}

.footer-left li a .fa:hover {
    border: 1px solid #007bff;
    color: #007bff;
}

.footer-middle {
    padding: 0 15px;
    border-right: 1px solid #3b3b3b;
}

.footer-middle-title p,
.footer-right p {
    color: #2b2e4a;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-middle-li {
    position: relative;
    margin-bottom: 15px;
    font-size: 1rem;
    height: 2rem;
    padding-left: 40px;
}

.footer-middle-li .fax::after {
    content: '傳真：(02)799-8799';
}

.footer-middle-li .fax {
    line-height: 1.2rem;
}

.footer-middle-li p {
    font-weight: 400;
    color: #2b2e4a;
    margin-left: 10px;
    padding-left: 0;
    line-height: 30px;
}

.footer-middle-li .fa {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #74797f;
    text-align: center;
    font-size: 1.1rem;
    color: #2b2e4a;
    background: none;
    border-radius: 50%;
    line-height: 2.2rem;
    width: 2.2rem;
    height: 2.2rem;
}

.footer-right {
    padding: 0 15px;
}

.footer-right li p {
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 400;
    color: #2b2e4a;
    line-height: 1rem;
}

@media (max-width:1000px) {

    .footer-left,
    .footer-middle {
        border-right: none;
        border-bottom: 1px solid #74797f;
    }
}

@media (min-width: 768px) and (max-width: 991.99px) {
    .footer-left .footer-logo-img img {
        width: 60%;
        height: 60%;
    }

    .footer-logo .col-lg-4.col-md-6.col-sm-7 {
        display: flex;
        align-items: center;
    }
}

@media (min-width: 576px) and (max-width: 767.99px) {
    .footer-left .footer-logo-img img {
        width: 50%;
        height: 50%;
    }

    .footer-left .footer-logo-slogan a {
        font-size: 1.5rem;
        font-weight: 700;
    }
}

@media (min-width: 360px) and (max-width: 575.99px) {

    .footer-left .footer-logo-img img {
        width: 40%;
        height: 40%;
    }

    .footer-left .footer-logo-img-area,
    .footer-left .footer-logo-slogan-area {
        text-align: center;
    }

    .footer-left .footer-logo-slogan a {
        font-size: 1.5rem;
    }

    .footer-left .footer-logo-slogan a::after {
        display: none;
    }
}

/* footer copyright */
.footer-copyright {
    width: 100%;
    background-color: #ecb649;
    padding: 10px 0;
}

.footer-copyright .copyright {
    text-align: center;
}

.footer-copyright .copyright p,
.footer-copyright .copyright span {
    display: inline;
    color: #2b2e4a;
}